.frms
{
    margin-left: 30%;
}
.submit
{
    margin-top: 15px;
    margin-left:43%;
}
@media screen and (max-width:1100px) 
{
 .frms
 {
     margin-left: 25%;
 }   
}
@media screen and (max-width:991px) 
{
 .frms
 {
     margin-left: 12%;
 }  
 .submit{
     margin-left:33%;
 } 
}

@media screen and (max-width:767px) 
{
 .submit{
     margin-left:37%;
 } 
}

@media screen and (max-width:700px) 
{
 .frms
 {
     margin-left: 7%;
 }   
}
@media screen and (max-width:560px) 
{
 .frms
 {
     margin-left: 5%;
 }   
}
@media screen and (max-width:530px) 
{
 .frms
 {
     margin-left: 15px;
 }   
}
@media screen and (max-width:500px) 
{
 .frms
 {
     margin-left: 5px;
 }   
 .submit
 {
     margin-left:14px;
 }
}