.cp
{
    margin-top: 60px;
    margin-left: 34%;
}
@media screen and (max-width:1400px)
{
 .cp
 {
     margin-left: 29%;
 }
}
@media screen and (max-width:1060px)
{
 .cp
 {
     margin-left: 23%;
 }
}
@media screen and (max-width:850px)
{
 .cp
 {
     margin-left: 18%;
 }
}
@media screen and (max-width:720px)
{
 .cp
 {
     margin-left: 14%;
 }
}
@media screen and (max-width:640px)
{
 .cp
 {
     margin-left: 10%;
 }
}
@media screen and (max-width:600px)
{
 .cp
 {
     margin-left: 40px;
 }
}
@media screen and (max-width:550px)
{
 .cp
 {
     margin-left: 20px;
 }
}
@media screen and (max-width:500px)
{
 .cp
 {
     margin-left:0px;
 }
}