.cardss
{
    padding-left: 20%;
}

@media screen and (max-width: 1250px)
{
    .cardss
    {
        padding-left: 15%;
    }
}
@media screen and (max-width: 1150px)
{
    .cardss
    {
        padding-left: 8%;
    }
}
@media screen and (max-width: 1000px)
{
    .cardss
    {
        padding-left: 5%;
    }
}
@media screen and (max-width: 7000px)
{
    .cardss
    {
        padding-left: 3%;
    }
}
@media screen and (max-width: 500px)
{
    .cardss
    {
        padding-left: 0%;
    }
}